# ETF download data prices using yfinance.

In [13]:
import pandas as pd
import yfinance as yf

def download_data(tickers, start, end):
    historical_data = pd.DataFrame()

    for ticker in tickers:
        try:
            # Download historical data from Yahoo Finance
            data = yf.download(ticker, start=start, end=end)
            
            # Add a column with the ticker symbol
            data['Ticker'] = ticker
            
            # Reset index and add date column
            data = data.reset_index()
            
            # Concatenate data to the main DataFrame
            historical_data = pd.concat([historical_data, data])
            
        except Exception as Error:
            print(f'Error downloading data for {ticker}: {str(e)}')

    return historical_data

# Define tickers and date range
tickers = ["XLE", "XLB", "XLI", "XLK", "XLF", "XLP", "XLY", "XLV", "XLU"]
start_date = '2000-01-01'
end_date = '2024-01-01'

# Download historical data
price_history = download_data(tickers, start_date, end_date)

price_history = price_history[['Date', 'Close', 'Ticker']]

# Pivota el DataFrame
price_history = price_history.pivot(index='Date', columns='Ticker', values='Close')

# Save data to a CSV file
price_history.to_csv('price_history.csv', index=False)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [15]:
display(price_history)

Ticker,XLB,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
Date,,,,,,,,,
2000-01-03,25.968750,26.562500,18.582453,28.843750,55.437500,22.750000,27.453125,30.296875,30.125000
2000-01-04,25.718750,26.062500,17.770105,28.046875,52.625000,22.109375,26.625000,29.609375,29.218750
2000-01-05,26.781250,26.750000,17.630484,27.921875,51.843750,22.500000,27.296875,29.343750,28.859375
2000-01-06,27.468750,27.781250,18.404753,28.296875,50.125000,22.921875,27.250000,29.437500,29.187500
2000-01-07,27.453125,28.078125,18.709383,29.375000,51.000000,24.375000,27.484375,29.796875,30.562500
...,...,...,...,...,...,...,...,...,...
2023-12-22,85.599998,84.980003,37.340000,113.129997,192.050003,71.220001,62.619999,135.020004,179.479996
2023-12-26,86.000000,85.709999,37.490002,113.930000,192.850006,71.519997,63.000000,135.320007,180.240005
2023-12-27,86.209999,85.330002,37.610001,114.099998,192.839996,71.849998,62.959999,135.889999,180.860001
2023-12-28,85.879997,84.029999,37.720001,114.129997,193.070007,71.879997,63.410000,136.240005,179.919998
2023-12-29,85.540001,83.839996,37.599998,113.989998,192.479996,72.029999,63.330002,136.380005,178.809998